name: Release Node.js app

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      # Bước 1: Lấy code về
      - name: Checkout code
        uses: actions/checkout@v4

      # Bước 2: Đăng nhập Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Bước 3: Build và Push
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # LƯU Ý: Thay <USERNAME> bằng tên Docker Hub của bạn
          # Thay <REPO> bằng tên repo bạn tạo ở Phần 2
          tags: hainguyen95/cicd-pipeline-test:latest